@charset "utf-8";
@import "iconfont/iconfont.css";
$color:#333 #666 #999 #f00;
$font-color:(
  c333:#333,
  c666:#666,
  c999:#999
);

@for $i from 1 through 20 {
  .blk#{$i * 5} {
    font-size:0;line-height:0;clear:both;overflow:hidden;
    height:$i*5 +px;
  }
  .ml-#{$i*5} {margin-left:$i*5 +px;}
  .mt-#{$i*5} {margin-top:$i*5 +px;}
  .mr-#{$i*5} {margin-right:$i*5 +px;}
  .mb-#{$i*5} {margin-bottom:$i*5 +px;}
  .pl-#{$i*5} {padding-left:$i*5 +px;}
  .pt-#{$i*5} {padding-top:$i*5 +px;}
  .pr-#{$i*5} {padding-right:$i*5 +px;}
  .pb-#{$i*5} {padding-bottom:$i*5 +px;}
  .font#{10+$i*2} {font-size:10+$i*2+px;}
}
@each $i, $c in $font-color {
  .#{$i} {color:$c}
}
.validateTip {
  clear:both;color:nth($color, 4); font-size:12px;line-height:24px;position:relative;text-indent:1.5em;
  &:before {
    content:'\e667f'; font-family:'iconfont';font-size:16px;font-weight:bold;position:absolute;top:0;left:-18px; display:block;
  }
}
