@charset "utf-8";
@import "iconfont/iconfont.css";
@import "bootstrap-select.css";

$color:#333 #666 #999 #f00;
$font-color:(
		c333:#333,
		c666:#666,
		c999:#999,
		cf00:#f00
);

@for $i from 1 through 20 {
	.blk#{$i * 5} {
		font-size:0;
		line-height:0;
		clear:both;
		overflow:hidden;
		height:$i*5 +px;
	}
	.ml-#{$i*5} {
		margin-left:$i*5 +px;
	}
	.mt-#{$i*5} {
		margin-top:$i*5 +px;
	}
	.mr-#{$i*5} {
		margin-right:$i*5 +px;
	}
	.mb-#{$i*5} {
		margin-bottom:$i*5 +px;
	}
	.pl-#{$i*5} {
		padding-left:$i*5 +px;
	}
	.pt-#{$i*5} {
		padding-top:$i*5 +px;
	}
	.pr-#{$i*5} {
		padding-right:$i*5 +px;
	}
	.pb-#{$i*5} {
		padding-bottom:$i*5 +px;
	}
	.font#{10+$i*2} {
		font-size:10+$i*2+px;
	}
}

@each $i, $c in $font-color {
	.#{$i} {
		color:$c
	}
}

.dib_vm {
	display:inline-block;
	vertical-align:middle;
}

.validateTip {
	clear:both;
	color:nth($color, 4);
	font-size:12px;
	line-height:24px;
	position:relative;
	text-indent:1.5em;
	
	&:before {
		content:'\e667f';
		font-family:'iconfont';
		font-size:16px;
		font-weight:bold;
		position:absolute;
		top:0;
		left:-18px;
		display:block;
	}
}

.vl-notify-mask {
	background-color:#000 !important;
	filter:Alpha(Opacity=50) !important;
	opacity:.5 !important;
}

/**
百度上传
 */
.webuploader-container {
	position:relative;
}

.webuploader-element-invisible {
	position:absolute !important;
	clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip:rect(1px, 1px, 1px, 1px);
}

.webuploader-pick {
	position:relative;
	display:inline-block;
	cursor:pointer;
	background:#00b7ee;
	padding:10px 15px;
	color:#fff;
	text-align:center;
	border-radius:3px;
	overflow:hidden;
}

.webuploader-pick-hover {
	background:#00a2d4;
}

.webuploader-pick-disable {
	opacity:0.6;
	pointer-events:none;
}

.webUploader {
	&:after {content:'';display:block;width:100%;height:0;clear:both;}
	
	& .image-item {
		display:inline-block;
		position:relative;
		width:100px;
		height:100px;background-color:#dedede;
		float:left;margin-right:10px;margin-bottom:10px;
		
		& > img {
			position:absolute;left:0;top:0;z-index:1;
		}
		
		& .image-panel {
			position:absolute;
			left:0;
			bottom:0;
			right:0;
			z-index:11;
			color:#fff;
			background:rgba(0, 0, 0, .5);
			height:24px;
			padding:0 5px;
			-webkit-transition:all .3s ease 0s;
			-moz-transition:all .3s ease 0s;
			-ms-transition:all .3s ease 0s;
			transition:all .3s ease 0s;
			overflow:hidden;
			display:none;
			
			& .data {
				display:inline-block;
				float:left;
				font-size:12px;
				line-height:24px;
			}
			
			& .cancel {
				float:right;line-height:24px;color:#fff;font-size:12px;
			}
		}
		
		&.image-sm {
			width:80px;height:80px;
			
			& .image-panel {
				padding:0 1px;
			}
		}
		
		&.image-lg {
			width:150px;height:150px;
			
			& .image-panel {
				padding:0 10px;
			}
		}
		
		& .uploadIfy-progress-bar {
			position:absolute;left:0;right:0;bottom:0;z-index:10;
		}
	}
	
	& .uploadIfy-queue-item {
		background-color:#f5f5f5;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		font:11px Verdana, Geneva, sans-serif;
		margin-top:5px;
		max-width:350px;
		padding:10px;min-width:250px;
		
		&.error {
			background-color:#fde5dd !important;
		}
		
		& .cancel a {
			background:url('../../static/images/uploadify-cancel.png') 0 0 no-repeat;
			float:right;
			height:16px;
			text-indent:-9999px;
			width:16px;
		}
		& .fileName{max-width:70%;min-width:150px;display:inline-block;overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis;vertical-align:middle;}
		& .data{vertical-align:middle;margin-left:5px;}
	}
	
	.uploadIfy-progress {
		background-color:#e5e5e5;
		margin-top:10px;
		width:100%;
		
		& .uploadIfy-progress-bar {
			background-color:#09f;
			height:3px;
			width:1px;
		}
	}
}

