@font-face {
  font-family: 'iconfont';  /* project id 953727 */
  src: url('//at.alicdn.com/t/font_953727_alx6v0a3p1s.eot');
  src: url('//at.alicdn.com/t/font_953727_alx6v0a3p1s.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_953727_alx6v0a3p1s.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_953727_alx6v0a3p1s.woff') format('woff'),
  url('//at.alicdn.com/t/font_953727_alx6v0a3p1s.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_953727_alx6v0a3p1s.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:inline-block;
  vertical-align:middle;
}
